{# @var project \AppBundle\Entity\Project #}
{# @var tickets \AppBundle\Entity\Ticket[] #}
{% extends 'base/base.html.twig' %}
{% block title %}
    Project
{% endblock %}
{% block body %}
    <h2>Project details</h2>
    <table>
            <tr>
                <td>Name: </td>
                <td>{{ project.projectName }}</td>
            </tr>
        <tr>
            <td>Start date: </td>
            <td>{{ project.projectStartdate|date('Y.m.d. H:i:s') }}</td>
        </tr>
        <tr>
            <td>End date: </td>
            {% if project.projectEnddate %}
                <td>{{ project.projectEnddate|date('Y.m.d. H:i:s') }}</td>
            {% else %}
                <td>unknown</td>
            {% endif %}
        </tr>
        <tr>
            <td>Active: </td>
            {% if project.projectActive %}
                <td>Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
        </tr>
    </table>
    <br/>
    {% if is_granted("ROLE_ADMIN")%}
    <a href="{{ path('projectedit', {'projectId': project.projectId}) }}"><button>
            Edit project
        </button></a>
    <a href="{{ path('projectdel', {'projectId': project.projectId}) }}"><button>
            Delete project
        </button></a>
        <a href="{{ path('projectadduser', {'projectId': project.projectId}) }}"><button>
                Add user
            </button></a>
    {% endif %}
    <hr/>
    <h2>Project tickets</h2>
    <table>
        <thead>
            <th>Name</th>
            <th>Assignee</th>
            <th>Status</th>
            <th>Priority</th>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                <td><a href="{{ path('ticketshow', {'ticketId':ticket.ticketId}) }}">{{ ticket.ticketName }}</a></td>
                {% if ticket.ticketAssignee %}
                    <td>{{ ticket.ticketAssignee.username }}</td>
                {% else %}
                    <td> - </td>
                {% endif %}
                <td>{{ ticket.ticketStatus }}</td>
                <td>{{ ticket.ticketPriority }}</td>
                </tr>
                <br/>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('ticketcreate') }}"><button>
            Add new ticket
        </button></a>
    {% endif %}
{% endblock %}